#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* CREATE BOOKMARK PAGE*/
.create-bookmark{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-bookmark input{
  margin-top: 10px;
  padding: 10px;
}

.create-bookmark button{
  margin-top: 10px;
}

.tags-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag-element{
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag-element div{
  padding-left: 10px;
  padding-right: 10px;
  align-content: center;
}

.tag-element button{
  margin-top: 0;
  align-content: center;
  width: fit-content;
}

/*VIEW PAGE*/
.view-page{

}

.url-card{
  display: flex;
  background-color: #f9f9f9;
  margin: 10px;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: #1a1a1a 1px 3px 10px 0px;
}

.url-card-header{
  display: flex;
  flex-direction: row;
  border-bottom: #1a1a1a solid 1px;
  width: 100%;
}

.url-card-header button{
  font-size: small;
  border: #1a1a1a solid 1px;
  margin-left: 10px;
}

.url-card div{
  margin-left: 0;
  margin-right: auto;
}

.url-card-url{
}

.url-card-name{
  font-weight: bold;
  font-size: large;
  width: 100%;
  margin-top: 5px;
}

.url-card-tag-list{
  display: flex;
  flex-direction: row;
}

.url-card-tag{
  padding-right: 10px;
  background: #cacaca;
  border-radius: 10px;
}

